@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Pacifico&display=swap');

#content {
  max-width: 1600px;
  margin: 0 auto;
}

body {
  background-color: #3dfaff;
  margin: 0;
}

#hero {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

#hero-img {
  width: 100%;
  height: 100%;
}

#home, #when-and-where, #activities h1 {
  text-align: center;
}

#hero-box {
  grid-column: 1/4;
  grid-row: 1/7;
}

#hero-msg {
  z-index: 1;
  grid-column: 2/3;
  grid-row: 3/4;
  font-size: 1.5em;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #0d67b5;
  color: #3dfaff;
  box-shadow: 10px 10px 10px black;
  padding: 15px;
}

#family, #road, #ski {
  max-width: 100%;
}

#info {
  font-size: 1.2em;
  margin: 50px;
  color: #0d67b5;
}

header {
  display: grid;
  grid-template-columns: 150px auto;
  background-color: #157145;
}

nav {
  display: flex;
  justify-content: space-around;
  font-family: "Josefin Sans", Verdana, sans-serif;
}

nav a {
  text-align: center;
  padding: 50px;
  color: #3dfaff;
  text-decoration: none;
  font-size: 1.5em;
}

nav a:hover {
  background-color: #d7263d;
}

footer {
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #157145;
  color: #3dfaff;
  font-size: 1.5em;
}

footer a {
  color: #3dfaff;
  text-decoration: none;
  display: block;
  padding: 15px;
}

footer a:hover {
  color: #d7263d;
  text-decoration: underline;
  background-color: #3dfaff;
}

h1, h2 {
  font-family: Pacifico, "Brush Script MT", serif;
}

p {
  font-family: "Josefin Sans", Verdana, sans-serif;
}

#logo-link {
  justify-self: center;
  align-self: center;
  padding: 5px;
}

.logo {
  border-radius: 25%;
  padding: 10px;
}

#forest, #sled {
  width: 100%;
  max-height: 700px;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #d7263d; /* Set a background color */
  color: #3dfaff; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  font-family: "Josefin Sans", Verdana, sans-serif;
}

#myBtn:hover {
  background-color: #157145; /* Add a dark-green background on hover */
}

@media screen and (max-width: 900px) {
  nav {
    flex-direction: column;
  }

  nav a {
    display: block;
    padding: 15px;
  }
  
  #forest {
    max-height: 450px;
  }
}